#inhabitantsScreen
{
	background-color: white;

	min-height: 300px;
	max-height: 300px;
}

#inhabitantCarousel
{
	margin: auto;
}

#guestsScreen
{
	background-color: white;
}


#inhabitantCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#inhabitantCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}

#guestCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#guestCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}