.profilCard
{

	background-color: white;

	border: none;
	padding: 2%;
}


.profilList
{
	background-color: white;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 2%;

	opacity: 80%;
}

#inhabitantCarousel .carousel-control-prev::before {
    color: black;
}