#roomsSection
{
	margin-top: 3%;
}

#inhabitantsSection
{
	margin-top: 3%;
}

#eventsSection
{
	margin-top: 3%;
}

.screen
{
	background-color: white;

	max-height: 250px;
	min-height: 250px;
}


.eventsList
{

	background-color: black;

	width: 100%;
	height: 100%;

	opacity: 70%;

	min-height: 2em;

	box-shadow: inset 0px 0px 10px 9px rgba(255, 0, 0, 0.5);
}


.eventRapport
{
	color:  white;
	width: 100%;
}

.personnalButton
{
	width: 100%;
	height: 50%;
	margin: auto;
}

.buttonContainer
{
	max-width: unset;
	padding: 5%;
}

#roomCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#roomCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}

#inhabitantCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#inhabitantCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}

#guestCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#guestCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}

@media all and (max-height: 1200px)
{
	.screen
	{
		min-height: 120px;
	}
	
}
@media all and (max-height: 650px)
{
	.screen
	{
		min-height: 100px;
	}
}

@media all and (max-width: 600px)
{
	.screen
	{
		min-height: 100px;
	}
}

@media all and (max-width: 500px)
{
	.screen
	{
		min-height: 80px;
	}
}