#roomsSection
{
	margin-top: 3%;
}

#inhabitantsSection
{
	margin-top: 3%;
}

#eventsSection
{
	margin-top: 3%;
}

.title
{
	margin: auto;
}

.roomCard
{

	background-color: white;

	width: 100%;
	height: 100%;

	margin: auto;

	border: none;
}

.screen
{
	background-color: white;

	margin-top: 5%;
	margin-bottom: 5%;
	
	padding: 5%;

	padding-top: 5%;
	padding-bottom: 5%;

	opacity: 90%;

	min-height: 2em;

	box-shadow: inset 0px 0px 10px 9px rgba(0, 0, 255, 0.5);
}

.profilCard
{

	background-color: white;

	border: none;
	padding: 2%;
}

.eventsList
{

	background-color: black;

	width: 100%;
	height: 100%;

	opacity: 70%;

	min-height: 2em;

	box-shadow: inset 0px 0px 10px 9px rgba(255, 0, 0, 0.5);
}


.eventRapport
{
	color:  white;
	width: 100%;
}

.personnalButton
{
	width: 100%;
	height: 50%;
	margin: auto;
}

.buttonContainer
{
	max-width: unset;
	padding: 5%;
}

#roomCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#roomCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}

#inhabitantCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#inhabitantCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}

#guestCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#guestCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}