{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/addModule.css' %}" />
{% endblock %}

{% block content %}

<div id= "pageContent" class="row">
  <div class="col">

    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="row">
          <h2 class="title">Ajout Module</h2>
        </div>
      </div>
      <div class="col-4"></div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="row inputSection">

          <div class="col">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-4">
                Nom:
              </div>
              <div class="col-1"></div>
              <input type="text" id="moduleName" name="moduleName" value="" class="col-5"/>
              <div class="col-1"></div>
            </div>

            <div class="row">
              <div class="col-1"></div>
              <div class="col-4">
                emplacement:
              </div>
              <div class="col-1"></div>
              <select id="moduleEmplacement" value="" class="col-5"></select>
              <div class="col-1"></div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-3"></div>
    </div>

    <div class="row buttonZone">
      <div class="col-4"></div>
      <button class="col-4" onclick="add_module();">Ajouter</button>
      <div class="col-4"></div>
    </div>

  </div>
</div>

<div id="loadingScreen">
  <div id='loader' class="loader"></div>
  <h2>Mettez le Module en etat d'inclusion</h2>
</div>

{% endblock %}

{% block jsScript %}
  <script src="{% static 'js/addModule.js' %}"></script>
{% endblock %}