{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/homeAutomationNetworkManagement.css' %}" />
{% endblock %}

{% block content %}

<div id= "pageContent" class="row">
  <div class="col">

    <div class="row">
      <div class="col-1"></div>
      <div id="homeIdSection" class="col-2 rounded">
        <div class="row">
          <h2>id domicile</h2>
        </div>
        <div id="HomeId" class="row">
          560
        </div>
      </div>
      <div class="col-1"></div>


      <div id="bannerSection" class="col-3">
        <div class="row">
          <h1>Réseau</h1>
        </div>
      </div>

      <div class="col-1"></div>
      <div id="networkStateSection" class="col-3 rounded">
        <div class="row">
          <h2>état réseau</h2>
        </div>
        <div id="networkState" class="row">
          actif
        </div>
      </div>
      <div class="col-1"></div>
    </div>

  </div>
</div>


{% endblock %}

{% block jsScript %}
  <script src="{% static 'js/homeAutomationNetworkManagement.js' %}"></script>
{% endblock %}