asgiref==3.5.0
Django==3.2.11
mysql-connector-python==8.0.27
protobuf==3.19.3
PyDispatcher==2.0.5
pyserial==3.5
python-openzwave==0.4.19
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
typing-extensions==4.0.1
