#roomsScreen
{
	background-color: black;
	max-height: 500px;
	min-height: 500px;

	margin-top: 10vh;
}

#roomCarousel
{
	margin: auto;
}

@media all and (max-width: 599px) and (min-width:  450px)
{
	#roomsScreen
	{
		min-height: 200px;
	}
}

@media all and (max-width: 449px)
{
	#roomsScreen
	{
		min-height: 80px;
	}
}