#roomsScreen
{
	background-color: black;

	opacity: 80%;

	min-height: 2em;
	padding-top: 5%;
	padding-bottom: 5%;
}


.roomCard
{

	background-color: black;

	width: 100%;
	height: 100%;

	margin: auto;
}


@media all and (max-width: 1199px) and (min-width:  1000px)
{
	.card-title
	{
		font-size: small;
	}
}

@media all and (max-width: 999px) and (min-width:  700px)
{
	.card-title
	{
		font-size: x-small;
	}
}

@media all and (max-width: 579px)  and (min-width:  450px)
{
    .card-title
	{
		font-size: xx-small;
	}
}

@media all and (max-width: 449px)
{
    .card-title
	{
		font-size: 10%;
	}
}