#roomsScreen
{
	background-color: black;
	max-height: 500px;
	min-height: 500px;

	margin-top: 10vh;
}

#roomCarousel
{
	margin: auto;
}

@media all and (max-height: 1200px)
{
	#roomsScreen
	{
		margin-top: 10vh;
	}
}

@media all and (max-height: 900px)
{
	#roomsScreen
	{
		margin-top: 20vh;
	}
}

@media all and (max-height: 600px)
{
	#roomsScreen
	{
		min-height: 200px;
		margin-top: 30vh;
	}
}

@media all and (max-height: 400px)
{
	#roomsScreen
	{
		min-height: 80px;
		margin-top: 40vh;
	}
}

@media all and (max-width: 600px)
{
	#roomsScreen
	{
		min-height: 200px;
	}
}

@media all and (max-width: 500px)
{
	#roomsScreen
	{
		min-height: 80px;
	}
}