#moduleList
{
	background-color: white;
	opacity: 80%;

	min-height: 2em;
}

#eventList
{

	background-color: black;

	width: 100%;
	height: 100%;

	opacity: 70%;

	min-height: 2em;
}


.eventRapport
{
	color:  white;
	width: 100%;
}

.moduleCard
{

	background-color: white;

	width: 100%;
	height: 100%;

	border: none;
}

.indicator
{
	background-color: black;

	margin: 1%;
}

#roomCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#roomCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}