#Screen
{
	padding-top: 5%;
	padding-bottom: 5%;
}

.moduleSection
{
	margin: auto;
	margin-bottom: 5%;
}

.screen
{
	background-color: white;

	max-height: 280px;
	min-height: 280px;
}



#moduleCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#moduleCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}


@media all and (max-height: 1200px)
{
	.screen
	{
		min-height: 120px;
	}
	
}
@media all and (max-height: 650px)
{
	.screen
	{
		min-height: 100px;
	}
}

@media all and (max-width: 600px)
{
	.screen
	{
		min-height: 100px;
	}
}

@media all and (max-width: 500px)
{
	.screen
	{
		min-height: 80px;
	}
}