#modulePicture
{
	margin: auto;
}

.separation
{
	background-color: black;
	height: 4px;

	margin-top: 2%;
	margin-bottom: 3%;
}

#moduleInformation
{
	background-color: white;
	margin: auto;
	border-color: black;

	padding-top: 2%;
	padding-bottom: 2%;

	margin-bottom: 3%;
}

.informationSection
{
	flex-wrap: nowrap;
	margin: auto;
}


.data
{
	border-color: black;
	border: solid;
}


#productInformation
{
	background-color: white;
	margin: auto;
	border-color: black;

	padding-top: 2%;
	padding-bottom: 2%;

	margin-bottom: 3%;
}

#moduleStateInformation
{
	background-color: white;
	margin: auto;
	border-color: black;

	padding-top: 2%;
	padding-bottom: 2%;

	margin-bottom: 3%;
}

#color
{
	border-color: black;
	border: solid;
}

#intensity
{
	border-color: black;
	border: solid;
}




@media all and (max-width: 1199px) and (min-width:  450px)
{
    #pageContent
	{
		font-size: medium;
	}
}

@media all and (max-width: 449px)
{
    #pageContent
	{
		font-size: x-small;
	}
}