#modulePicture
{
	margin: 2%;
}

.separation
{
	background-color: black;
	height: 4px;

	margin: 2%;
	margin-bottom: 3%;
}

#moduleInformation
{
	background-color: white;
	margin: auto;
	border-color: black;

	padding-top: 2%;
	padding-bottom: 2%;

	margin-bottom: 3%;
}

.nameSection
{
	display: flex;
	justify-content: space-around;
}

.idData
{
	border-color: black;
	border-width: 1%;
	border: solid;
}

.typeData
{
	border: solid;
	border-color: black;
	border-width: 1%;
}
