#modulePicture
{
	margin: 2%;
}

.separation
{
	background-color: black;
	height: 3px;

	margin: 2%;
}

#moduleInformation
{
	background-color: white;
	margin: auto;
	border-color: black;

	display: flex;
	justify-content: space-around;
}