#Screen
{
	padding-top: 5%;
	padding-bottom: 5%;
}

.moduleList
{
	background-color: white;

	padding-top: 5%;
	padding-bottom: 5%;

	opacity: 80%;

	min-height: 2em;
}

.moduleCard
{

	background-color: white;

	width: 100%;
	height: 100%;

	border: none;
}


#moduleCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#moduleCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}

@media all and (max-width: 899px) and (min-width:  550px)
{
    .card-title
    {
    	font-size: small;
    }
}

@media all and (max-width: 549px) and (min-width:  480px)
{
    .card-title
    {
    	font-size: x-small;
    }
}

@media all and (max-width: 479px)
{
    .card-title
    {
    	font-size: xx-small;
    }
}


@media all and (max-width: 549px)
{
	card-title
	{
		font-size: large;
	}
}