{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/homeManagement.css' %}" />
{% endblock %}

{% block content %}

<div class="col container-fluid">

  <div id="roomsSection" class="row container-fluid">
    <div class="col-4 container-fluid"></div>
      <div class="col-4 container-fluid">

        <div class="row container-fluid text-center">
          <div id="roomBanner" class="col container-fluid text-center">
            <h2>Pièces</h2>
          </div>
        </div>

        <div class="row container-fluid text-center">
          <div id="roomScreen" class="col rounded text-center rounded container-fluid roomList" id="screen">

          </div>
        </div>

      </div>
    <div class="col-4 container-fluid"></div>
  </div>
</div>

{% endblock %}

{% block jsScript %}
  <script src="{% static 'js/homeManagement.js' %}"></script>
{% endblock %}