{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/homeManagement.css' %}" />
{% endblock %}

{% block content %}

<div id="pageContent" class="row">
  <div class="col">

    <div id="roomsSection" class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h2 class="text-center">Pièce</h2>
      </div>
      <div class="col-3"></div>
    </div>
      
    <div class="row" style="flex-wrap: nowrap;">
      <div class="col-3"></div>
      <div id="roomsScreen" class="col-6 screen rounded container-fluid">

      </div>
      <div class="col-3"></div>
    </div>


    <div id="inhabitantsSection" class="row">
      <div class="col-4 container-fluid"></div>
        <div class="col-4 container-fluid">

          <div class="row container-fluid">
            <h2 class="text-center title">Habitants</h2>
          </div>

          <div class="row text-center" style="flex-wrap: nowrap;">
            <div id="inhabitantsScreen" class="col-10 rounded text-center rounded screen container-fluid">

            </div>

            <div class="col-2 buttonContainer container-fluid">
              <button type="button" class="row personnalButton">
                <h2 class="text-center" style="margin: auto;">+</h2>
              </button>
              <button type="button" class="row personnalButton">
                <h2 class="text-center" style="margin: auto;">-</h2>
              </button>
            </div>
          </div>

        </div>
      <div class="col-4 container-fluid"></div>
    </div>

    <div id="guestsSection" class="row">
      <div class="col-4 container-fluid"></div>
        <div class="col-4 container-fluid">

          <div class="row container-fluid">
            <h2 class="text-center title">Invités</h2>
          </div>

          <div class="row text-center" style="flex-wrap: nowrap;">
            <div id="guestsScreen" class="col-10 rounded text-center rounded screen container-fluid">

            </div>

            <div class="col-2 buttonContainer container-fluid">
              <button type="button" class="row personnalButton">
                <h2 class="text-center" style="margin: auto;">+</h2>
              </button>
              <button type="button" class="row personnalButton">
                <h2 class="text-center" style="margin: auto;">-</h2>
              </button>
            </div>
          </div>

        </div>
      <div class="col-4 container-fluid"></div>
    </div>

    <div id="eventsSection" class="row">
      <div class="col-2 container-fluid"></div>
      <div class="col-8 container-fluid">
        <div class="row container-fluid text-center" style="margin: auto;">
          <h2 class="text-center title">Evénements</h2>
        </div>

        <div class="row container-fluid text-center" style="margin: auto;">
            <div id="eventsScreen" class="col rounded text-center rounded container-fluid eventsList screen">

            </div>
          </div>
      </div>
      <div class="col-2 container-fluid"></div>
    </div>

  </div>
</div>

{% endblock %}

{% block jsScript %}
  <script src="{% static 'js/listRooms.js' %}"></script>
  <script src="{% static 'js/listProfils.js' %}"></script>
  <script src="{% static 'js/listEvents.js' %}"></script>
  <script src="{% static 'js/homeManagement.js' %}"></script>
{% endblock %}