{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/homeManagement.css' %}" />
{% endblock %}

{% block content %}

<div class="col container-fluid">

  <div id="roomsSection" class="row container-fluid">
    <div class="col-4 container-fluid"></div>
      <div class="col-4 container-fluid">

        <div class="row container-fluid text-center">
          <div id="roomsBanner" class="col container-fluid text-center">
            <h2>Pièces</h2>
          </div>
        </div>

        <div class="row container-fluid text-center">
          <div id="roomsScreen" class="col rounded text-center rounded container-fluid roomList screen">

          </div>
        </div>

      </div>
    <div class="col-4 container-fluid"></div>
  </div>

  <div id="inhabitantsSection" class="row container-fluid">
    <div class="col-4 container-fluid"></div>
      <div class="col-4 container-fluid">

        <div class="row container-fluid text-center">
          <div id="inhabitantsBanner" class="col container-fluid text-center">
            <h2>Habitants</h2>
          </div>
        </div>

        <div class="row container-fluid text-center">
          <div id="inhabitantsScreen" class="col-10 rounded text-center rounded container-fluid profilList screen">

          </div>

          <div class="col-2 container-fluid">
            <div class="row container-fluid">
              <button type="button" class="col container-fluid">+</button>
            </div>
            <div class="row container-fluid">
              <button type="button" class="col container-fluid">-</button>
            </div>
          </div>
        </div>

      </div>
    <div class="col-4 container-fluid"></div>
  </div>

  <div id="guestsSection" class="row container-fluid">
    <div class="col-4 container-fluid"></div>
      <div class="col-4 container-fluid">

        <div class="row container-fluid text-center">
          <div id="guestsBanner" class="col container-fluid text-center">
            <h2>Invités</h2>
          </div>
        </div>

        <div class="row container-fluid text-center">
          <div id="guestsScreen" class="col rounded text-center rounded container-fluid profilList screen">

          </div>
        </div>

      </div>
    <div class="col-4 container-fluid"></div>
  </div>

  <div id="eventsSection" class="row container-fluid">
    <div class="col-3 container-fluid"></div>
      <div class="col-6 container-fluid">

        <div class="row container-fluid text-center">
          <div id="eventsBanner" class="col container-fluid text-center">
            <h2>Evénements</h2>
          </div>
        </div>

        <div class="row container-fluid text-center">
          <div id="eventsScreen" class="col rounded text-center rounded container-fluid eventsList screen">

          </div>
        </div>

      </div>
    <div class="col-3 container-fluid"></div>
  </div>

</div>

{% endblock %}

{% block jsScript %}
  <script src="{% static 'js/homeManagement.js' %}"></script>
{% endblock %}