.screen
{
	background-color: black;
}
.locationSection
{
	padding: 2%;
}

.nameSection
{
	padding: 2%;
}

.personalButton
{
  background-color: white;
  border: none;

  box-shadow: inset 0px 0px 10px 9px rgba(0, 255, 0, 0.5);
}