.inputSection
{
	background-color: white;
	padding: 5%;
	margin-top: 5%;

	border: solid;
	border-color: black;
}


.locationSection
{
	padding: 2%;
}

.nameSection
{
	padding: 2%;
}


h2
{
	margin: auto;
}

.buttonZone
{
	margin-top: 2%;
}

@media all and (max-width: 1199px) and (min-width:  600px)
{
    #pageContent
	{
		font-size: medium;
	}
}

@media all and (max-width: 599px) and (min-width:  450px)
{
    #pageContent
	{
		font-size: x-small;
	}
}

@media all and (max-width: 449px)
{
    #pageContent
	{
		font-size: xx-small;
	}
}