#homeIdSection
{
	margin: auto;

	background-color: black;
	color: white;
}

#networkStateSection
{
	margin: auto;

	background-color: black;
	color: white;
}

h1
{
	margin: auto;
}

h2
{
	margin: auto;
}

#networkState
{
	margin: auto;
}

#homeId
{
	margin: auto;
}
