#homeIdSection
{
	border: solid;
	margin: auto;

	background-color: black;
	color: white;
}

#networkStateSection
{
	border: solid;
	margin: auto;

	background-color: black;
	color: white;
}

h1
{
	margin: auto;
}

h2
{
	margin: auto;
}
