#homeIdSection
{
	margin: auto;

	background-color: black;
	color: white;
}

#networkStateSection
{
	margin: auto;

	background-color: black;
	color: white;
}

#modulesSection
{
	padding-top: 6%;
	margin-bottom: 6%;
}

#modulesScreen
{
	margin: auto;
	background-color: white;
	opacity: 80%;

	padding-top: 5%;
	padding-bottom: 5%;

	min-height: 2em;
}

h1
{
	margin: auto;
}

h2
{
	margin: auto;
}

h3
{
	margin: auto;
}

#networkState
{
	margin: auto;
}

#homeId
{
	margin: auto;
}

.moduleCard
{
	border: none;
}


#moduleCarousel .carousel-control-prev-icon
{
	filter: invert(100%);
}

#moduleCarousel .carousel-control-next-icon
{
	filter: invert(100%);
}


@media all and (max-width: 1199px) and (min-width:  450px)
{
    .card-title
	{
		font-size: large;
	}

	h3
	{
		font-size: large;
	}

	#homeId
	{
		font-size: large;
	}
}

@media all and (max-width: 449px)
{
    .card-title
	{
		font-size: small;
	}

	h3
	{
		font-size: x-small;
	}

	#homeId
	{
		font-size: x-small;
	}
}