{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/module.css' %}" />
{% endblock %}


{% block content %}

  <div class="col container-fluid">

    <div class="row container-fluid">
      <div class="col-4"></div>
      <div id="modulePicture" class="col-4 text-center container-fluid"></div>
      <div class="col-4"></div>
    </div>

    <div class="row container-fluid">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="row separation rounded"></div>
      </div>
      <div class="col-3"></div>
    </div>

    <div class="row container-fluid">
      <div class="col-4"></div>
      <div id="moduleInformation" class="col-4 container-fluid rounded">
        
      </div>
      <div class="col-4"></div>
    </div>

    <div class="row container-fluid">
      <div class="col-4"></div>
      <div id="productInformation" class="col-4 container-fluid"></div>
      <div class="col-4"></div>
    </div>

    <div class="row container-fluid">
      <div class="col-4"></div>
      <div id="moduleStateInformation container-fluid" class="col-4"></div>
      <div class="col-4"></div>
    </div>

  </div>


  <input type="hidden" id="moduleId" name="moduleId" value="{{ moduleId }}">


{% endblock %}

{% block jsScript %}
  <script src="{% static 'js/module.js' %}"></script>
{% endblock %}