{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/module.css' %}" />
{% endblock %}


{% block content %}

  <div id='pageContent' class="row">
    <div class="col">

      <div class="row">
        <div class="col-3"></div>
        <div id="modulePicture" class="col-6 text-center">
          
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="row separation rounded"></div>
        </div>
        <div class="col-2"></div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div id="moduleInformation" class="col-6 rounded">
          
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row container-fluid">
        <div class="col-3"></div>
        <div id="productInformation" class="col-6 rounded">
          
        </div>
        <div class="col-3"></div>
      </div>

      <div class="row container-fluid">
        <div class="col-3"></div>
        <div id="moduleStateInformation" class="col-6 rounded">
          
        </div>
        <div class="col-3"></div>
      </div>

    </div>
  </div>


  <input type="hidden" id="moduleId" name="moduleId" value="{{ moduleId }}">


{% endblock %}

{% block jsScript %}
  <script src="{% static 'js/module.js' %}"></script>
{% endblock %}