/* bloc page*/
.blocPage
{
	min-height: 100vh;
	width: 100%;
	height: 100%;

	background: url(../pictures/background.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;

}


/*Navbar*/
#mainNavbar
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: flex-start;
	align-items: space-around;
}


.shortcutsBar
{

	background-color: darkgray;
}


#shortcutsCarousel carousel
{
	list-style: none;
}


/* generic css */
footer
{
	background: #000000;
}

#logo
{
	margin: auto;
}