/* bloc page*/
.blocPage
{
	min-height: 100vh;
	width: 100%;
	height: 100%;

	background: url(../pictures/background.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

}


/*Navbar*/
#mainNavbar
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: flex-start;
	align-items: space-around;
}

#logo
{
	margin: auto;

	width: 100%;
	height: 100%;
}

#logo h2
{
	margin: auto;
}


.shortcutsBar
{

	background-color: darkgray;
}


.carousel-control-prev
{
	left: -2%;
}

.carousel-control-next
{
	right: -2%;
}

.nav-link
{
	margin: auto;
	font-size: medium;

}

#pageContent
{
	padding-top: 5%;
	padding-bottom: 5%;
}



/* generic css */
footer
{
	background: #000000;
}

@media all and (max-width: 899px) and (min-width:  550px)
{
    .nav-link
    {
    	font-size: small;
    }

    .dropdown-item
    {
    	font-size: small;
    }

}

@media all and (max-width: 549px) and (min-width:  480px)
{
    .nav-link
    {
    	font-size: x-small;
    }

    .dropdown-item
    {
    	font-size: x-small;
    }
}

@media all and (max-width: 479px)
{
    .nav-link
    {
    	font-size: xx-small;
    }

    .dropdown-item
    {
    	font-size: xx-small;
    }
}


@media all and (max-width: 549px)
{
	#logo h2
	{
		font-size: large;
	}
}