{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/room.css' %}" />
{% endblock %}


{% block content %}

  <div class="col container-fluid">
    <div class="row" style="margin-top: 3%;">

      <div class="col-1"></div>
      <div class="col-1">
        <button type="button" class="btn btn-primary btn-lg mb-2" onclick="light_on();">
          light
        </button>
      </div>

      <div class="col-7"></div>

      <div class="col-2">

        <div class="row">
          <div class="col-4"></div>
          <div id='temperature' class="col indicator rounded text-center">
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row">
          <div class="col-4"></div>
          <div id='luminosity' class="col indicator rounded text-center">
          </div>
          <div class="col-4"></div>
        </div>

      </div>
      <div class="col-1"></div>

    </div>


    <div class="row" style="margin-top: 3%;">
      <div class="col-4"></div>
      <div id='banner' class="col-4">
      </div>
      <div class="col-4"></div>
    </div>


    <div class="row" style="margin-top: 2%;">
      <div class="col-3"></div>
      <div class="col-6">

        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <h3>Modules:</h3>
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row" style="margin-top: 2%;">
          <div class="col-3"></div>
          <div id='moduleList' class="col-6 moduleList rounded">
            
          </div>
          <div class="col-3"></div>
        </div>

      </div>
      <div class="col-3"></div>
    </div>

    <div class="row" style="margin-top: 2%;">
      <div class="col-3"></div>
      <div class="col-6">

        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <h3>événements:</h3>
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row" style="margin-top: 2%; margin-bottom: 3%;">
          <div class="col-2"></div>
          <div class="col-8 eventList rounded">
            <div class="row eventRapport">
              [19/04/22 05:00:00]: detection de mouvement
            </div>
            <div class="row eventRapport">
              [18/04/22 05:00:00]: allumage de l'éclairage principale
            </div>
          </div>
          <div class="col-2"></div>
        </div>

      </div>
      <div class="col-3"></div>
    </div>

  </div>

  <input type="hidden" id="roomId" name="roomId" value="{{ roomId }}">


{% endblock %}

{% block jsScript %}
  <script src="{% static 'js/room.js' %}"></script>
{% endblock %}